.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

#Logs
*.log

# Serenity
target/
.serenity/
.serenity-cache/


#Lombok
lombok.config

